.box {
  overflow: hidden;
  background: url(../images/demo_ditu.png);
}

.box .container {
  width: 1920px;
  min-width: 1600px;
  margin: 0 auto;
  background: no-repeat url(../images/demo_yun.png);
  background-size: 80%;
}

.box .container .different {
  width: 100%;
  height: 800px;
  text-align: center;
}

.box .container .different .img {
  width: 497px;
  height: 45px;
  margin: 10rem auto;
}

.box .container .different .facedemo {
  padding-top: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.box .container .different .facedemo .demo {
  font-size: 34px;
  font-family: Source Han Sans CN;
  font-weight: 800;
  color: #4F4F4F;
  text-align: center;
  width: 282px;
  height: 300px;
}

.box .container .different .facedemo .demo div:nth-of-type(1) {
  display: flex;
}

.box .container .different .facedemo .demo div:nth-of-type(1) img {
  width: 139px;
  height: 181px;
  margin-right: 5px;
}

.box .container .correctdemo {
  margin-top: 15rem;
  text-align: center;
}

.box .container .correctdemo .correctdemo-text {
  margin: 2rem 0;
  width: 100%;
  font-size: 1.49rem;
  font-family: Source Han Sans CN;
  font-weight: 300;
  color: #4F4F4F;
}

.box .container .correctdemo .correctdemo-tooth {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box .container .correctdemo .correctdemo-tooth .correctdemo-tooth-demo {
  width: 16%;
  height: 12rem;
  border-radius: 50px;
  margin-bottom: 10px;
}

.box .container .correctdemo .correctdemo-tooth .correctdemo-tooth-demo div {
  width: 50%;
  margin: 4rem auto;
}

.box .container .correctdemo .correctdemo-tooth .correctdemo-tooth-demo div img {
  width: 100%;
  opacity: 0.3;
  margin-bottom: 10px;
}

.box .container .correctdemo .correctdemo-tooth .active {
  width: 16%;
  height: 12rem;
  border-radius: 50px;
  margin-bottom: 10px;
  background: #c7e6f5;
}

.box .container .correctdemo .correctdemo-tooth .active div {
  width: 50%;
  margin: 4rem auto;
}

.box .container .correctdemo .correctdemo-tooth .active div img {
  width: 100%;
  opacity: 0.3;
  margin-bottom: 10px;
}

.box .container .correctdemo .correctdemo-demo {
  margin-left: 20rem;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.box .container .correctdemo .correctdemo-demo .correctdemo-demo-ri {
  width: 60%;
  display: none;
}

.box .container .correctdemo .correctdemo-demo .correctdemo-demo-ri {
  width: 20%;
  text-align: left;
}

.box .container .correctdemo .correctdemo-demo2 {
  margin-left: 20rem;
  width: 40%;
  display: none;
  justify-content: space-between;
}

.box .container .correctdemo .correctdemo-demo2 .correctdemo-demo-ri {
  display: none;
  width: 60%;
}

.box .container .correctdemo .correctdemo-demo2 .correctdemo-demo-ri {
  width: 20%;
  text-align: left;
}

.box .container .correctdemo .correctdemo-demo3 {
  margin-left: 20rem;
  width: 40%;
  display: none;
  justify-content: space-between;
}

.box .container .correctdemo .correctdemo-demo3 .correctdemo-demo-ri {
  width: 60%;
}

.box .container .correctdemo .correctdemo-demo3 .correctdemo-demo-ri {
  width: 20%;
  text-align: left;
}

.box .container .correctdemo .correctdemo-demo4 {
  margin-left: 20rem;
  width: 40%;
  display: none;
  justify-content: space-between;
}

.box .container .correctdemo .correctdemo-demo4 .correctdemo-demo-ri {
  width: 60%;
}

.box .container .correctdemo .correctdemo-demo4 .correctdemo-demo-ri {
  width: 20%;
  text-align: left;
}

.box .container .correctdemo .correctdemo-demo5 {
  margin-left: 20rem;
  width: 40%;
  display: none;
  justify-content: space-between;
}

.box .container .correctdemo .correctdemo-demo5 .correctdemo-demo-ri {
  width: 60%;
}

.box .container .correctdemo .correctdemo-demo5 .correctdemo-demo-ri {
  width: 20%;
  text-align: left;
}

.box .container .correctdemo .correctdemo-demo6 {
  margin-left: 20rem;
  width: 40%;
  display: none;
  justify-content: space-between;
}

.box .container .correctdemo .correctdemo-demo6 .correctdemo-demo-ri {
  width: 60%;
}

.box .container .correctdemo .correctdemo-demo6 .correctdemo-demo-ri {
  width: 20%;
  text-align: left;
}

.box .container .correctdemo .correctdemo-demo7 {
  margin-left: 20rem;
  width: 40%;
  display: none;
  justify-content: space-between;
}

.box .container .correctdemo .correctdemo-demo7 .correctdemo-demo-ri {
  width: 60%;
}

.box .container .correctdemo .correctdemo-demo7 .correctdemo-demo-ri {
  width: 20%;
  text-align: left;
}

.box .container .correctdemo .correctdemo-demo8 {
  margin-left: 20rem;
  width: 40%;
  display: none;
  justify-content: space-between;
}

.box .container .correctdemo .correctdemo-demo8 .correctdemo-demo-ri {
  width: 60%;
}

.box .container .correctdemo .correctdemo-demo8 .correctdemo-demo-ri {
  width: 20%;
  text-align: left;
}

.box .container .correctdemo .correctdemo-demo9 {
  margin-left: 20rem;
  width: 40%;
  display: none;
  justify-content: space-between;
}

.box .container .correctdemo .correctdemo-demo9 .correctdemo-demo-ri {
  width: 60%;
}

.box .container .correctdemo .correctdemo-demo9 .correctdemo-demo-ri {
  width: 20%;
  text-align: left;
}

.box .container .correctdemo .correctdemo-demo10 {
  margin-left: 20rem;
  width: 40%;
  display: none;
  justify-content: space-between;
}

.box .container .correctdemo .correctdemo-demo10 .correctdemo-demo-ri {
  width: 60%;
}

.box .container .correctdemo .correctdemo-demo10 .correctdemo-demo-ri {
  width: 20%;
  text-align: left;
}

.box .container .correctdemo .correctdemo-demo11 {
  margin-left: 20rem;
  width: 40%;
  display: none;
  justify-content: space-between;
}

.box .container .correctdemo .correctdemo-demo11 .correctdemo-demo-ri {
  width: 60%;
}

.box .container .correctdemo .correctdemo-demo11 .correctdemo-demo-ri {
  width: 20%;
  text-align: left;
}

.box .container .correctdemo .correctdemo-demo12 {
  margin-left: 20rem;
  width: 40%;
  display: none;
  justify-content: space-between;
}

.box .container .correctdemo .correctdemo-demo12 .correctdemo-demo-ri {
  width: 60%;
}

.box .container .correctdemo .correctdemo-demo12 .correctdemo-demo-ri {
  width: 20%;
  text-align: left;
}

.box .container .footer {
  margin-top: 95px;
  height: 300px;
}
