@charset "UTF-8";
.box {
  overflow: hidden;
}

.box .container {
  width: 1920px;
  min-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}

.box .container .smile {
  width: 100%;
  margin: 8rem auto;
  text-align: center;
}

.box .container .humansmile {
  width: 100%;
}

.box .container .humansmile img {
  width: 100%;
  display: block;
}

.box .container .system {
  width: 100%;
  display: flex;
  background: url(../images/yun.png) no-repeat center center;
}

.box .container .system .system-img1 {
  width: 94.67rem;
  margin-top: 30rem;
  box-sizing: border-box;
}

.box .container .system .system-img2 {
  width: 40.75rem;
  height: 31.92rem;
  margin-top: 50rem;
  margin-left: -30rem;
}

.box .container .vto {
  width: 100%;
  margin-top: -30px;
}

.box .container .vto img {
  width: 100%;
}

.box .container .humanhead {
  width: 100%;
  height: 850px;
  display: flex;
  justify-content: space-between;
}

.box .container .humanhead .humanhead-left {
  width: 54.17rem;
  height: 27.42rem;
  margin-top: 20.75rem;
  margin-left: 28.5rem;
}

.box .container .humanhead .humanhead-left img {
  width: 100%;
}

.box .container .humanhead .humanhead-right {
  width: 82.5rem;
  height: 600px;
}

.box .container .humanhead .humanhead-right img {
  width: 100%;
}

.box .container .feacbi {
  width: 100%;
  text-align: center;
  background-color: #ffff;
}

.box .container .feacbi img {
  width: 78.75rem;
  height: 14.67rem;
}

.box .container .edg {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  background-color: #ffff;
}

.box .container .edg img {
  width: 717px;
  height: 176px;
}

.box .container .video {
  width: 70%;
  margin: 0rem auto;
  background-color: #ffff;
  display: flex;
}

.box .container .video div {
  width: 49.67rem;
  height: 28.67rem;
  margin-left: 0.5rem;
}

.box .container .video div video {
  width: 100%;
  height: 100%;
}

.box .container .video-2 {
  width: 70%;
  margin: 0rem auto;
  display: flex;
}

.box .container .video-2 div {
  width: 49.67rem;
  height: 28.67rem;
  margin-left: 0.5rem;
}

.box .container .video-2 div video {
  width: 100%;
  height: 100%;
}

.box .container .tj {
  width: 100%;
  height: 78.33rem;
  margin-top: 10rem;
}

.box .container .tj img {
  margin-top: 13.05rem;
  width: 100%;
}

.box .container .bring {
  width: 100%;
  text-align: center;
}

.box .container .bring .bring-head {
  width: 100%;
  height: 1077px;
  background: url(../images/bg.png) no-repeat;
}

.box .container .bring .bring-head .bring-head-textimg img {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.box .container .bring .bring-head .bring-head-humanimg {
  justify-content: space-between;
  display: flex;
}

.box .container .bring .bring-head .bring-head-humanimg div:nth-of-type(1) {
  margin-left: 20rem;
}

.box .container .bring .bring-head .bring-head-humanimg div:nth-of-type(2) {
  margin-right: 40rem;
}

.box .container .threed {
  margin-top: 5rem;
  width: 100%;
  background: url(../images/底图.png) no-repeat center center;
}

.box .container .threed .threed-head {
  width: 697px;
  height: 61px;
  margin: 0 auto;
  margin-top: 170px;
  margin-bottom: 51px;
}

.box .container .threed .threed-head img {
  width: 100%;
}

.box .container .threed .threed-bottom {
  width: 1016px;
  height: 1671px;
  margin: 0 auto;
}

.box .container .threed .threed-bottom img {
  width: 100%;
}

.box .container .threed .bijiao {
  width: 1141px;
  height: 1434px;
  margin: 101px auto;
}

.box .container .threed .bijiao img {
  width: 100%;
}

.box .container .threed .linchuang {
  width: 100%;
  height: 846px;
  text-align: center;
  background: url(../images/bg_3.png);
}

.box .container .threed .linchuang img {
  width: 1397px;
  height: 582px;
  margin-top: 129px;
}

.box .container .threed .linchuang-2 {
  width: 1140px;
  height: 1416px;
  margin: 0px auto;
  margin-top: 30px;
}

.box .container .threed .linchuang-2 img {
  width: 100%;
}

.box .container .threed .tooth-3 {
  width: 1245px;
  height: 1033px;
  margin: 30px auto;
}

.box .container .threed .tooth-3 img {
  width: 100%;
}

.box .container .threed .linchuang-3 {
  width: 1449px;
  height: 1178px;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 8px;
}

.box .container .threed .linchuang-3 img {
  width: 100%;
}

.box .container .footer {
  margin-top: 95px;
  height: 300px;
}
