.box {
    // position: relative;
    // .poa {
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     left: 0;
    //     top: 0;
    //     z-index: -1;
    // }
    overflow: hidden;
    .container {
        width: 1920px;
        min-width: 1600px;
        margin: 0 auto;
        overflow: hidden;
        background: url('../images/bgimg.png');
        background-size: cover;
        .banner {
            width: 100%;
            margin-top: -5px;
            .swiper {
                margin-top: -5px;
                .swiper-wrapper {
                    width: 100%;
                    .swiper-slide {
                        img {
                            width: 100%;
                            height: 884px;
                        }
                    }
                }
                .swiper-button-next {
                    right: 104px;
                }
                .swiper-button-prev {
                    left: 104px;
                }
            }
        }
        .correct {
            width: 1920px;
            height: 1120px;
            // background: url(../images/底图.png) no-repeat center center;
            .correct-head {
                width: 100%;
                height: 579px;
                text-align: center;
                background-image: url(../images//_编组_.png);
                .correct-head-text {
                    margin: 160px 0;
                    width: 1424px;
                    height: 104px;
                }
                .correct-head-humanimg {
                    width: 100%;
                    height: 800px;
                    img {
                        width: 1265px;
                        height: 531px;
                    }
                    .correct-head-bottomtext {
                        margin: 1rem auto;
                        width: 65%;
                        display: flex;
                        justify-content: space-between;
                        article {
                            display: flex;
                            .text-box {
                                opacity: 0;
                                .box1 {
                                    width: 2rem;
                                    height: 2rem;
                                    font-size: 1.43rem;
                                    font-family: Source Han Sans CN;
                                    font-weight: 400;
                                    color: #43899F;
                                    float: left;
                                    margin-top: -8px;
                                    border-radius: 50%;
                                    padding-top: -2rem;
                                    padding-left: -5rem;
                                    background-color: #ebf6f6;
                                }
                                .box2 {
                                    width: 10.5rem;
                                    float: left;
                                    margin-left: 1rem;
                                    text-align: left;
                                    font-size: 1.5rem;
                                    font-family: Source Han Sans CN;
                                    font-weight: 400;
                                    color: #43899F;
                                }
                                .box3 {
                                    margin-top: 25px;
                                    float: left;
                                    margin-left: 3rem;
                                    width: 10.5rem;
                                    font-size: 0.27rem;
                                    font-family: Source Han Sans CN;
                                    font-weight: 300;
                                    text-align: left;
                                    color: #4F4F4F;
                                }
                            }
                        }
                    }
                }
            }
        }
        .correct-context {
            width: 100%;
            text-align: center;
            margin-top: 296px;
            .correct-context-head {
                width: 1450px;
                height: 103px;
                margin: 0 auto;
                img {
                    width: 80%;
                }
            }
            .correct-context-human {
                display: flex;
                justify-content: space-around;
                background-attachment: fixed;
                width: 100%;
                background-size: 100% 100%;
                background: no-repeat url(../images/紫色-背景.png ) center center;
                margin: 2rem auto;
                article {
                    display: flex;
                    justify-content: space-around;
                    background-attachment: fixed;
                    width: 100%;
                    background-size: 100% 100%;
                    background: no-repeat url(../images/紫色-背景.png ) center center;
                    height: 800px;
                    margin: 2rem auto;
                    .correct-context-human-le {
                        height: 800px;
                        opacity: 0;
                        left: 100px;
                        position: relative;
                        z-index: 1;
                        img {
                            width: 100%;
                        }
                    }
                    .correct-context-human-img {
                        width: 750px;
                        height: 745px;
                        position: absolute;
                        background: url('../images/yd_ziyuan.png');
                        background-size: cover;
                        img {
                            width: 450px;
                        }
                    }
                    .correct-context-human-ri {
                        opacity: 0;
                        height: 800px;
                        margin-right: 100px;
                        line-height: 81.58rem;
                        left: -50px;
                        position: relative;
                        z-index: 1;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .serve {
            width: 100%;
            text-align: center;
            .serve-head {
                margin-bottom: 76px;
            }
        }
        .correctdemo {
            margin-top: 6rem;
            text-align: center;
            .correctdemo-text {
                margin: 2rem 0;
                width: 100%;
                font-size: 1.49rem;
                font-family: Source Han Sans CN;
                font-weight: 300;
                color: #4F4F4F;
                margin-bottom: 134px;
            }
            .correctdemo-tooth {
                width: 80%;
                margin: 1rem auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .correctdemo-tooth-demo {
                    width: 16%;
                    height: 12rem;
                    border-radius: 50px;
                    margin-bottom: 10px;
                    cursor: pointer;
                    div {
                        width: 50%;
                        margin: 4rem auto;
                        img {
                            width: 100%;
                            opacity: 0.3;
                            margin-bottom: 10px;
                        }
                    }
                }
                .active {
                    width: 16%;
                    height: 12rem;
                    border-radius: 50px;
                    margin-bottom: 10px;
                    background: #c7e6f5;
                    div {
                        width: 50%;
                        margin: 4rem auto;
                        img {
                            width: 100%;
                            opacity: 0.3;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            .correctdemo-demo {
                margin-left: 20rem;
                width: 40%;
                display: flex;
                justify-content: space-between;
                .correctdemo-demo-le {
                    .correctdemo-demo-le-top {
                        width: 386px;
                        height: 243px;
                        display: flex;
                        overflow: hidden;
                        .img1 {
                            width: 47px;
                            height: 243px;
                            position: absolute;
                            left: 493px;
                            z-index: 99;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .div1 {
                            position: relative;
                            left: -193px;
                            img {
                                width: 386px;
                                height: 243px;
                            }
                        }
                        .div2 {
                            position: relative;
                            left: -193px;
                            img {
                                width: 386px;
                                height: 243px;
                            }
                        }
                    }
                    .correctdemo-demo-le-bottom {
                        cursor: pointer;
                    }
                }
                .correctdemo-demo-ri {
                    display: none;
                    width: 60%;
                }
                .correctdemo-demo-ri {
                    width: 20%;
                    text-align: left;
                }
            }
            .correctdemo-demo2 {
                margin-left: 20rem;
                width: 40%;
                display: none;
                justify-content: space-between;
                .correctdemo-demo-le {
                    .correctdemo-demo-le-bottom {
                        cursor: pointer;
                    }
                }
                .correctdemo-demo-ri {
                    display: none;
                    width: 60%;
                }
                .correctdemo-demo-ri {
                    width: 20%;
                    text-align: left;
                }
            }
            .correctdemo-demo3 {
                margin-left: 20rem;
                width: 40%;
                display: none;
                justify-content: space-between;
                .correctdemo-demo-le {
                    .correctdemo-demo-le-bottom {
                        cursor: pointer;
                    }
                }
                .correctdemo-demo-ri {
                    display: none;
                    width: 60%;
                }
                .correctdemo-demo-ri {
                    width: 20%;
                    text-align: left;
                }
            }
            .correctdemo-demo4 {
                margin-left: 20rem;
                width: 40%;
                display: none;
                justify-content: space-between;
                .correctdemo-demo-le {
                    .correctdemo-demo-le-bottom {
                        cursor: pointer;
                    }
                }
                .correctdemo-demo-ri {
                    display: none;
                    width: 60%;
                }
                .correctdemo-demo-ri {
                    width: 20%;
                    text-align: left;
                }
            }
            .correctdemo-demo5 {
                margin-left: 20rem;
                width: 40%;
                display: none;
                justify-content: space-between;
                .correctdemo-demo-le {
                    .correctdemo-demo-le-bottom {
                        cursor: pointer;
                    }
                }
                .correctdemo-demo-ri {
                    display: none;
                    width: 60%;
                }
                .correctdemo-demo-ri {
                    width: 20%;
                    text-align: left;
                }
            }
            .correctdemo-demo6 {
                margin-left: 20rem;
                width: 40%;
                display: none;
                justify-content: space-between;
                .correctdemo-demo-le {
                    .correctdemo-demo-le-bottom {
                        cursor: pointer;
                    }
                }
                .correctdemo-demo-ri {
                    display: none;
                    width: 60%;
                }
                .correctdemo-demo-ri {
                    width: 20%;
                    text-align: left;
                }
            }
            .correctdemo-demo7 {
                margin-left: 20rem;
                width: 40%;
                display: none;
                justify-content: space-between;
                .correctdemo-demo-le {
                    .correctdemo-demo-le-bottom {
                        cursor: pointer;
                    }
                }
                .correctdemo-demo-ri {
                    display: none;
                    width: 60%;
                }
                .correctdemo-demo-ri {
                    width: 20%;
                    text-align: left;
                }
            }
            .correctdemo-demo8 {
                margin-left: 20rem;
                width: 40%;
                display: none;
                justify-content: space-between;
                .correctdemo-demo-le {
                    .correctdemo-demo-le-bottom {
                        cursor: pointer;
                    }
                }
                .correctdemo-demo-ri {
                    display: none;
                    width: 60%;
                }
                .correctdemo-demo-ri {
                    width: 20%;
                    text-align: left;
                }
            }
            .correctdemo-demo9 {
                margin-left: 20rem;
                width: 40%;
                display: none;
                justify-content: space-between;
                .correctdemo-demo-le {
                    .correctdemo-demo-le-bottom {
                        cursor: pointer;
                    }
                }
                .correctdemo-demo-ri {
                    display: none;
                    width: 60%;
                }
                .correctdemo-demo-ri {
                    width: 20%;
                    text-align: left;
                }
            }
            .correctdemo-demo10 {
                margin-left: 20rem;
                width: 40%;
                display: none;
                justify-content: space-between;
                .correctdemo-demo-le {
                    .correctdemo-demo-le-bottom {
                        cursor: pointer;
                    }
                }
                .correctdemo-demo-ri {
                    display: none;
                    width: 60%;
                }
                .correctdemo-demo-ri {
                    width: 20%;
                    text-align: left;
                }
            }
            .correctdemo-demo11 {
                margin-left: 20rem;
                width: 40%;
                display: none;
                justify-content: space-between;
                .correctdemo-demo-le {
                    .correctdemo-demo-le-bottom {
                        cursor: pointer;
                    }
                }
                .correctdemo-demo-ri {
                    display: none;
                    width: 60%;
                }
                .correctdemo-demo-ri {
                    width: 20%;
                    text-align: left;
                }
            }
            .correctdemo-demo12 {
                margin-left: 20rem;
                width: 40%;
                display: none;
                justify-content: space-between;
                .correctdemo-demo-le {
                    .correctdemo-demo-le-bottom {
                        cursor: pointer;
                    }
                }
                .correctdemo-demo-ri {
                    display: none;
                    width: 60%;
                }
                .correctdemo-demo-ri {
                    width: 20%;
                    text-align: left;
                }
            }
        }
        .mouldcorrect {
            width: 100%;
            height: 60rem;
            margin-top: 10rem;
            text-align: center;
            .mouldcorrect-bottom {
                margin: 10rem auto;
                margin-bottom: 20rem;
                width: 80%;
                height: 20rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .divbox {
                    display: none;
                    width: 22%;
                    height: 15.67rem;
                    padding-bottom: 5rem;
                    text-align: center;
                    .text {
                        .text1 {
                            margin: 0 auto;
                            display: block;
                            width: 16rem;
                            height: 2rem;
                            font-size: 1.86rem;
                            font-family: Source Han Sans CN;
                            font-weight: 300;
                            color: #4F4F4F;
                        }
                        .text2 {
                            margin: 0 auto;
                            display: block;
                            width: 16rem;
                            height: 5rem;
                            font-size: 2.47rem;
                            font-family: Source Han Sans CN;
                            font-weight: 800;
                            color: #43899F;
                        }
                    }
                }
            }
        }
        .smiletest {
            margin-bottom: 3rem;
            .smiletest-humamimg {
                position: relative;
                .smiletest-humamimg-box {
                    position: absolute;
                    text-align: center;
                    top: 16.83rem;
                    left: 43.17rem;
                    cursor: pointer;
                }
            }
        }
    }
    .footer {
        margin-top: 95px;
        height: 300px;
    }
}