// !头部
header {
    width: 100%;
    background: #fff;
    .header {
        width: 1200px;
        height: 50px;
        line-height: 50px;
        overflow: hidden;
        margin: 0 auto;
        .logo {
            float: left;
            margin-left: 80px;
        }
        .header-nav {
            float: right;
            margin-right: 80px;
            ul {
                overflow: hidden;
                li {
                    margin-left: 20px;
                    float: left;
                    a {
                        color: #000;
                        text-decoration: none;
                        font-size: 14px;
                        padding-bottom: 2px;
                        box-sizing: border-box;
                    }
                    .active {
                        border-bottom: 2px solid #000;
                    }
                }
            }
        }
    }
}

.page {
    width: 100%;
    height: auto;
    margin: 0 auto;
    // ?轮播图区域
    .banner {
        width: 1200px;
        height: 470px;
        // border: 1px solid red;
        // 轮播图
        .swiper {
            width: 100%;
            height: 100%;
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    // ?中间标题
    .center-title {
        margin: 0 auto;
        margin-top: 50px;
        width: 1200px;
        text-align: center;
        .title {
            color: #1d202b;
            font-size: 26px;
            font-family: 'Source Han Sans CN';
            line-height: 24px;
        }
        .desc {
            padding: 0 70px;
            margin-top: 24.5px;
            color: #6b7485;
            font-size: 10px;
            font-family: 'Source Han Sans CN';
            line-height: 16px;
            box-sizing: border-box;
        }
    }
    // ?
    .main {
        margin: 0 auto;
        width: 1200px;
        margin-top: 50px;
        // .page-list {
        // 	width: 100%;
        // 	min-height: 600px;
        // 	background: #dad7db;
        // 	img {
        // 		width: 100%;
        // 	}
        // }
        .page-list {
            width: 90%;
            margin: 0 auto;
            // border: 1px solid red;
            overflow: hidden;
            .page-item {
                width: 31%;
                height: 600px;
                background: #dad7db;
                float: left;
                margin-bottom: 20px;
                margin-right: 20px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}