<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>
    <div class="footer-ifarm">
        <div class="footer-ifarm-tooth">
            <img src="../images/smiletooth.png">
        </div>
        <div class="footer-ifarm-follow">
            <div>
                关注我们
            </div>
            <div class="img">
                <img src="../images/footer_icon.png" onclick="gowx()" alt="">
                <img src="../images/footer_icon2.png" onclick="gody()" alt="">
                <img src="../images/footer_icon3.png" onclick="gowb()" alt="">
                <img src="../images/footer_icon4.png" onclick="goxhs()" alt="">
            </div>
            <div class="phone">
                400-000-000
            </div>
        </div>
        <div class="footer-ifarm-tooth2">
            <div onclick="goindex()">
                首页
            </div>
            <div>

                <p onclick="go1()">VTO特点</p>

                <p onclick="go2()">DM特点</p>
                <p onclick="go3()">服务流程</p>
                <p onclick="go4()">适应症矫正</p>
                <p onclick="go5()">塑颜矫正</p>
            </div>
        </div>
        <div class="footer-ifarm-tooth2">
            <div onclick="goabout()">关于微笑再现</div>
            <div>
                <p onclick="go6()">品牌介绍</p>
                <p onclick="go7()">品牌动态</p>
            </div>
        </div>
        <div class="footer-ifarm-tooth2">
            <div onclick="gocorrect()">
                可视化矫正
            </div>
            <div>
                <p onclick="go8()">Smile Track简介</p>
                <p onclick="go9()">VTO特点</p>
                <p onclick="go10()">预测报告</p>
                <p onclick="go11()">临床试用统计</p>
                <p onclick="go12()">DM矫正监控</p>
                <p onclick="go13()">DM特点</p>
            </div>
        </div>
        <div class="footer-ifarm-tooth2">
            <div onclick="gowisdom()">
                智慧化牙套
            </div>
            <div>
                <p onclick="go14()">材料性能</p>
                <p onclick="go15()">智慧生产</p>
            </div>
        </div>
        <div class="footer-ifarm-demo">
            <div onclick="gocorrectdemo()">矫正案例</div>
            <div>
                <p onclick="go16()">不同脸型</p>
                <p onclick="go17()">不同适应症</p>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.js"></script>
<script>
    function gowx() {
        window.parent.location.href = "../pages/wx.html";
    }

    function gody() {
        window.parent.location.href = "../pages/dy.html";
    }

    function gowb() {
        window.parent.location.href = "../pages/wb.html";
    }

    function goxhs() {
        window.parent.location.href = "../pages/xhs.html";
    }

    function goindex() {
        window.parent.location.href = "../index.html";
    }

    function goabout() {
        window.parent.location.href = "../pages/about.html";
    }

    function gocorrect() {
        window.parent.location.href = "../pages/correct.html";
    }

    function gowisdom() {
        window.parent.location.href = "../pages/wisdom.html";
    }

    function gocorrectdemo() {
        window.parent.location.href = "../pages/correctdemo.html";
    }

    function go1() {

        window.parent.location.href = "../index.html#a1";
    }

    function go2() {
        window.parent.location.href = "../index.html#a2";
    }

    function go3() {
        window.parent.location.href = "../index.html#a3";
    }

    function go4() {
        window.parent.location.href = "../index.html#a4";
    }

    function go5() {
        window.parent.location.href = "../index.html#a5";
    }

    function go6() {
        window.parent.location.href = "../pages/about.html#a6";

    }

    function go7() {
        window.parent.location.href = "../pages/about.html#a7";

    }

    function go8() {
        window.parent.location.href = "../pages/correct.html#a8";

    }

    function go9() {
        window.parent.location.href = "../pages/correct.html#a9";

    }

    function go10() {
        window.parent.location.href = "../pages/correct.html#a10";

    }

    function go11() {
        window.parent.location.href = "../pages/correct.html#a11";

    }

    function go12() {
        window.parent.location.href = "../pages/correct.html#a12";

    }

    function go13() {
        window.parent.location.href = "../pages/correct.html#a13";

    }

    function go14() {
        window.parent.location.href = "../pages/wisdom.html#a14";

    }

    function go15() {
        window.parent.location.href = "../pages/wisdom.html#a15";

    }

    function go16() {
        window.parent.location.href = "../pages/correctdemo.html#a16";

    }

    function go17() {
        window.parent.location.href = "../pages/correctdemo.html#a17";

    }
</script>

</html>