.footer-ifarm {
    width: 7.5rem;
    display: flex;
    justify-content: space-between;
    .footer-ifarm-tooth {
        text-align: center;
        width: 40.42rem;
        img {
            margin-top: 2rem;
        }
    }
    .footer-ifarm-follow {
        font-size: 1.33rem;
        font-family: Source Han Sans CN;
        font-weight: 800;
        color: #43899F;
        img {
            width: 11.08rem;
            height: 2.83rem;
            margin-top: 1.8rem;
            margin-bottom: 5.67rem;
        }
        .phone {
            font-size: 1.77rem;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: #43899F;
        }
    }
    .footer-ifarm-tooth2 {
        padding-bottom: 8rem;
        div:nth-of-type(1) {
            font-size: 1.33rem;
            font-family: Source Han Sans CN;
            font-weight: 800;
            color: #43899F;
        }
        div:nth-of-type(2) {
            margin-top: 2.25rem;
            p {
                font-size: 1.33rem;
                font-family: Source Han Sans CN;
                font-weight: 300;
                color: #4F4F4F;
                margin-bottom: 0.5rem;
            }
        }
    }
    .footer-ifarm-demo {
        padding-bottom: 1rem;
        margin-right: 10rem;
        div:nth-of-type(1) {
            font-size: 1.33rem;
            font-family: Source Han Sans CN;
            font-weight: 800;
            color: #43899F;
        }
        div:nth-of-type(2) {
            margin-top: 2.25rem;
            p {
                font-size: 1.33rem;
                font-family: Source Han Sans CN;
                font-weight: 300;
                color: #4F4F4F;
                line-height: 2.6rem
            }
        }
    }
}