body {
	margin: 0;
}
div, p  {
	line-height: normal;
}
.container {
  width: 7.5rem;
  background-image: url(../images/test/bgimg.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.container .test {
  width: 100%;
}

.container .test img {
  /* padding-top: 0.54rem;
  padding-bottom: 0.60rem; */
  width: 2.38rem;
  height: 0.27rem;
}

.container .test .smilesure {
  width: 100%;
  text-align: center;
}

.container .test .smilesure .smilesure-humam {
  display: flex;
}

.container .test .smilesure .smilesure-humam .smilesure-humam-le {
  position: relative;
  left: 0rem;
}

.container .test .smilesure .smilesure-humam .smilesure-humam-le img {
  width: 4.02rem;
  height: 3.43rem;
}

.container .test .smilesure .smilesure-humam .smilesure-humam-ri img {
  width: 4.42rem;
  height: 3.42rem;
  margin-left: -1rem;
}

.container .test .face {
  width: 6rem;
  margin: 0 auto;
  text-align: center;
}

.container .test .face img {
  width: 2.72rem;
  height: 0.35rem;
  object-fit: contain;
}

.container .test .face .change {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.container .test .face .change .demo img {
  width: 0.95rem;
  height: 1.24rem;
}

.container .test .face .change .demo p {
  font-size: 0.10rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #4F4F4F;
}

.container .test .face .change .activedemo {
  background-color: #DFF0F0;
}

.container .test .linner {
  width: 6rem;
  text-align: center;
  margin: 0 auto;
}

.container .test .linner img {
  width: 3.39rem;
  height: 0.35rem;
}

.container .test .linner .change {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.container .test .linner .change .demo2 img {
  width: 0.90rem;
  height: 1.56rem;
  object-fit: contain;
}

.container .test .linner .change .demo2 p {
  font-size: 0.16rem;
  font-family: Source Han Sans CN;
  font-weight: 800;
  color: #43899F;
}

.container .test .linner .change .activedemo2 {
  background-color: #DFF0F0;
}

.container .test .smilelinner {
  width: 5rem;
  text-align: center;
  margin: 0 auto;
}

.container .test .smilelinner img {
  width: 3.83rem;
  height: 0.35rem;
}

.container .test .smilelinner .change {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.container .test .smilelinner .change .demo3 img {
  width: 1.23rem;
  height: 1.53rem;
}

.container .test .smilelinner .change .activedemo3 {
  background-color: #DFF0F0;
}

.container .test .manyi {
  width: 5rem;
  text-align: center;
  margin: 0 auto;
}

.container .test .manyi img {
  width: 4.88rem;
  height: 0.35rem;
}

.container .test .manyi .change {
  width: 70%;
    margin: auto;
  display: flex;
  justify-content: space-around;
}

.container .test .manyi .change .demo5 img {
  width: 0.4rem;
  height: 0.4rem;
}

.container .test .manyi .change .activedemo5 {
  background-color: #DFF0F0;
}

.container .test .like {
  width: 5rem;
  text-align: center;
  margin: 0 auto;
}

.container .test .like img {
  width: 4.69rem;
  height: 0.35rem;
}

.container .test .like .change {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.container .test .like .change .demo4 img {
  width: 0.39rem;
  height: 0.39rem;
}

.container .test .like .change .activedemo4 {
  background-color: #DFF0F0;
}

.container .test .jieguo {
  text-align: center;
  display: block;
}

.container .test .jieguo img {
  width: 5.16rem;
  height: 0.34rem;
}

.container .test .jieguo .change {
  width: 2.46rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
}

.container .test .jieguo .change .demo6 {
  height: .39rem;
  margin-top: .2rem;
}

.container .test .jieguo .change .demo6 img {
  width: 2.46rem;
  height: 0.39rem;
  /* margin-top: -0.3rem; */
}

.container .test .jieguo .change .activedemo6 {
  height: .39rem;
  background-color: #DFF0F0;
}

.container .test .userinfo {
  width: 100%;
  text-align: center;
  display: none;
  width: 100%;
  text-align: center;
  display: block;
}

.container .test .userinfo p {
  margin-top: 20rem;
  font-size: 26px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #4F4F4F;
}

.container .test .userinfo .change {
  margin: 50px auto;
  width: 556px;
  height: 305px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.container .test .userinfo .change .demo {
  width: 356px;
  height: 155px;
}

.container .test .userinfo .change .demo input {
  width: 628px;
  height: 99px;
  border-radius: 50px;
  border: 1px dashed;
  text-align: center;
  font-size: 49px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #4F4F4F;
  opacity: 0.3;
}

.container .test .userinfo .next {
  margin-top: 10rem;
}

.container .test .q {
  text-align: center;
  display: block;
  width: 100%;
}

.container .test .q img {
  /* width: 1.86rem;
  height: 0.74rem; */
  width: 1.26rem;
  height: 0.34rem;
  object-fit: contain;
  margin-top: .41rem;
}

.container .phonefooter {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: .8rem;
}

.container .phonefooter .phonefooter-le .phonefooter-le-head img {
  width: 1.7rem;
  height: 0.55rem;
}

.container .phonefooter .phonefooter-le .phonefooter-le-bottom {
  font-size: 0.28rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #43899F;
  margin-top: .21rem;
}

.container .phonefooter .phonefooter-ri {
  width: 3.42rem;
  display: flex;
  justify-content: space-between;
}

.container .phonefooter .phonefooter-ri div {
  width: 0.8rem;
  height: 0.76rem;
  text-align: center;
}

.container .phonefooter .phonefooter-ri div .phonefooter-ri-box-head {
  height: 0.35rem;
}

/* .container .phonefooter .phonefooter-ri div .phonefooter-ri-box-head img {
  width: 0.3rem;
} */
.phonefooter-ri div:nth-child(1) .phonefooter-ri-box-head img {
  object-fit: contain;
	width: .3rem;
}
.phonefooter-ri div:nth-child(2) .phonefooter-ri-box-head img {
  object-fit: contain;
	width: .23rem;
}
.phonefooter-ri div:nth-child(3) .phonefooter-ri-box-head img {
  object-fit: contain;
	width: .3rem;
}
.phonefooter-ri div:nth-child(4) .phonefooter-ri-box-head img {
	width: .33rem;
  
  object-fit: contain;
}

.container .phonefooter .phonefooter-ri div .phonefooter-ri-box-bottom {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #4F4F4F;
}

.container .phonefooter .phonefooter-ri div .phonefooter-ri-box-bottom img {
  width: 100%;
  height: 100%;
}

.container .phonefooter .phonefooter-ri div #ewimg4 {
  z-index: 88;
  display: none;
  width: 7.5rem;
  height: 15rem;
  position: relative;
  left: -6rem;
  top: -17rem;
}

.container .phonefooter .phonefooter-ri div #ewimg4 img {
  width: 100%;
  height: 100%;
}

.container .phonefooter .phonefooter-ri div #ewimg3 {
  z-index: 88;
  display: none;
  width: 7.5rem;
  height: 15rem;
  position: relative;
  left: -5rem;
  top: -17rem;
}

.container .phonefooter .phonefooter-ri div #ewimg3 img {
  width: 100%;
  height: 100%;
}

.container .phonefooter .phonefooter-ri div #ewimg2 {
  z-index: 88;
  display: none;
  width: 7.5rem;
  height: 15rem;
  position: relative;
  left: -4rem;
  top: -17rem;
}

.container .phonefooter .phonefooter-ri div #ewimg2 img {
  width: 100%;
  height: 100%;
}

.container .phonefooter .phonefooter-ri div #ewimg1 {
  z-index: 88;
  display: none;
  width: 7.5rem;
  height: 15rem;
  position: relative;
  left: -3.5rem;
  top: -17rem;
}

.container .phonefooter .phonefooter-ri div #ewimg1 img {
  width: 100%;
  height: 100%;
}

.container .tj {
  display: none;
  /* position: absolute;
  height: 230vh; */
  position: fixed;
  height: 100vh;
  width: 100vw;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  
}

.tj-box {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 1.8rem; */
}

.tj-bg {
  width: 4.03rem;
  height: 4.48rem;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.tj-btn {
	width: 1.72rem;
	height: 0.48rem;
	background: url('../images/pop/2.png') center/contain no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(86,193,255);
	margin: 0 auto;
	font-size: .2rem;
	letter-spacing: .2rem;
	box-sizing: border-box;
	padding-left: .2rem;
  margin-top: .29rem;
}
.tj-tip {
	font-size: .18rem;
	font-weight: bold;
	margin-bottom: .3rem;
}

.container .tj div div {
  /* width: 2.46rem; */
  /* top: -3rem;
  left: 0.8rem; */
}
.tj-con {
	width: 2.8rem;
	position: relative;
	color: #FFF;
}

.container .tj div div p {
  font-size: 0.10rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FFFFFF;
}

.container .tj div div input {
  width: 2.46rem;
  height: 0.39rem;
  background-color: #56c1ff;
  margin-top: 0.24rem;
  border: 0.02rem dashed #fff;
  border-radius: 0.5rem;
  color: #fff;
  text-align: center;
  outline: 0;
}
.container .tj div div input:active {
	outline: 0;
}

.container .tj div div img {
  width: 1.72rem;
  height: 0.48rem;
}

.tabbar {
  width: 7.5rem;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 99;
}

.tabbar div {
  padding-top: 0.22rem;
  padding-bottom: 0.16rem;
}

.tabbar div img {
  width: 0.78rem;
  height: 0.68rem;
}

.tabbar div:nth-of-type(2) img {
  width: 0.40rem;
  height: 0.66rem;
}

.tabbar div:nth-of-type(3) img {
  width: 0.49rem;
  height: 0.64rem;
}

.tabbar div:nth-of-type(4) img {
  width: 0.42rem;
  height: 0.65rem;
}

.tabbar div:nth-of-type(5) img {
  width: 0.40rem;
  height: 0.67rem;
}

.tabbar div:nth-of-type(6) img {
  width: 0.43rem;
  height: 0.65rem;
}
.smile-title{
  margin: .38rem 0 .16rem;
}
.face-change{
  margin: .69rem 0 .65rem;
}
.e-line{
  margin: .88rem 0 .4rem;
}
.smile-line{
  margin: .9rem 0 .49rem;
}
.mask{
  margin: .88rem 0 .34rem;
}
.satisfied{
  margin: .76rem 0 .44rem;
}
.accord{
  margin: .69rem 0 .58rem;
}
input::placeholder{
  color: #86D3FF;
}

input::placeholder{
  color: #86D3FF;
}
.congratulations{
  font-size: .16rem;
  font-weight: bold;
}
.we{
  font-size: .14rem;
  margin: .04rem 0;
}
.senior{
  font-size: .18rem;
  font-weight: bold;
  margin-bottom: .04rem;
}
.obtain{
  font-size: .08rem;
  color: #fff;
}
.videoBg{
  background-color: #000;
}
.code{
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}
.code > div{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preservation{
  width: 5rem;
  width: 5rem;
  object-fit: contain;
}
.number{
  width: 1.79rem;
  height: .21rem;
}