.container {
    width: 7.5rem;
    // background: url(../images/yd_bgditu.png) no-repeat center center;
    .test {
        width: 100%;
        img {
            padding-top: 0.54rem;
            padding-bottom: 0.60rem;
            width: 2.38rem;
            height: 0.27rem;
        }
        // background: url(../images/yun.png) no-repeat center center;
        .smilesure {
            width: 100%;
            text-align: center;
            .smilesure-humam {
                display: flex;
                .smilesure-humam-le {
                    position: relative;
                    left: 0rem;
                    img {
                        width: 4.02rem;
                        height: 3.43rem;
                    }
                }
                .smilesure-humam-ri {
                    img {
                        width: 4.42rem;
                        height: 3.42rem;
                        margin-left: -1rem;
                    }
                }
            }
        }
        .face {
            width: 6rem;
            margin: 0 auto;
            text-align: center;
            img {
                width: 2.72rem;
                height: 0.35rem;
            }
            .change {
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                .demo {
                    img {
                        width: 0.95rem;
                        height: 1.24rem;
                    }
                    p {
                        font-size: 0.10rem;
                        font-family: Source Han Sans CN;
                        font-weight: 400;
                        color: #4F4F4F;
                    }
                }
                .activedemo {
                    background-color: #DFF0F0;
                }
            }
        }
        .linner {
            width: 6rem;
            text-align: center;
            margin: 0 auto;
            img {
                width: 3.39rem;
                height: 0.35rem;
            }
            .change {
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                .demo2 {
                    img {
                        width: 0.90rem;
                        height: 1.56rem;
                    }
                    p {
                        font-size: 0.16rem;
                        font-family: Source Han Sans CN;
                        font-weight: 800;
                        color: #43899F;
                    }
                }
                .activedemo2 {
                    background-color: #DFF0F0;
                }
            }
        }
        .smilelinner {
            width: 5rem;
            text-align: center;
            margin: 0 auto;
            img {
                width: 3.39rem;
                height: 0.35rem;
            }
            .change {
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                .demo3 {
                    img {
                        width: 1.23rem;
                        height: 1.53rem;
                    }
                }
                .activedemo3 {
                    background-color: #DFF0F0;
                }
            }
        }
        // .facequestion {
        //     text-align: center;
        //     display: block;
        //     img {
        //         width: 3.39rem;
        //         height: 0.35rem;
        //     }
        //     .change {
        //         display: flex;
        //         flex-wrap: wrap;
        //         justify-content: space-between;
        //         .demo {
        //             img {
        //                 width: 1.39rem;
        //                 height: 1.35rem;
        //             }
        //             p {
        //                 font-size: 0.10rem;
        //                 font-family: Source Han Sans CN;
        //                 font-weight: 400;
        //                 color: #4F4F4F;
        //             }
        //         }
        //     }
        // }
        .manyi {
            width: 5rem;
            text-align: center;
            margin: 0 auto;
            img {
                width: 4.88rem;
                height: 0.35rem;
            }
            .change {
                display: flex;
                justify-content: space-around;
                .demo5 {
                    img {
                        width: 0.4rem;
                        height: 0.4rem;
                    }
                }
                .activedemo5 {
                    background-color: #DFF0F0;
                }
            }
        }
        .like {
            width: 5rem;
            text-align: center;
            margin: 0 auto;
            img {
                width: 4.69rem;
                height: 0.35rem;
            }
            .change {
                display: flex;
                justify-content: space-around;
                .demo4 {
                    img {
                        width: 0.39rem;
                        height: 0.39rem;
                    }
                }
                .activedemo4 {
                    background-color: #DFF0F0;
                }
            }
        }
        .jieguo {
            text-align: center;
            display: block;
            img {
                width: 5.16rem;
                height: 0.34rem;
            }
            .change {
                width: 3.46rem;
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                margin: 0 auto;
                .demo6 {
                    height: 1rem;
                    img {
                        width: 3.46rem;
                        height: 0.59rem;
                        margin-top: -0.3rem;
                    }
                }
                .activedemo6 {
                    height: 1rem;
                    background-color: #DFF0F0;
                }
            }
        }
        .userinfo {
            width: 100%;
            text-align: center;
            display: none;
            width: 100%;
            text-align: center;
            display: block;
            p {
                margin-top: 20rem;
                font-size: 26px;
                font-family: Source Han Sans CN;
                font-weight: 400;
                color: #4F4F4F;
            }
            .change {
                margin: 50px auto;
                width: 556px;
                height: 305px;
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                .demo {
                    input {
                        width: 628px;
                        height: 99px;
                        border-radius: 50px;
                        border: 1px dashed;
                        text-align: center;
                        font-size: 49px;
                        font-family: Source Han Sans CN;
                        font-weight: 400;
                        color: #4F4F4F;
                        opacity: 0.3;
                    }
                    width: 356px;
                    height: 155px;
                }
            }
            .next {
                margin-top: 10rem;
            }
        }
        .q {
            text-align: center;
            display: block;
            width: 100%;
            img {
                width: 1.86rem;
                height: 0.74rem;
            }
        }
    }
    .phonefooter {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        display: flex;
        justify-content: space-around;
        margin-bottom: 1.6rem;
        .phonefooter-le {
            .phonefooter-le-head {
                img {
                    width: 1.7rem;
                    height: 0.55rem;
                }
            }
            .phonefooter-le-bottom {
                font-size: 0.28rem;
                font-family: Source Han Sans CN;
                font-weight: 400;
                color: #43899F;
            }
        }
        .phonefooter-ri {
            width: 3.42rem;
            display: flex;
            justify-content: space-between;
            div {
                width: 0.8rem;
                height: 0.76rem;
                text-align: center;
                .phonefooter-ri-box-head {
                    height: 0.35rem;
                    img {
                        width: 0.3rem;
                        ;
                    }
                }
                .phonefooter-ri-box-bottom {
                    width: 0.8rem;
                    height: 0.8rem;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    background-color: #4F4F4F;
                }
                #ewimg4 {
                    z-index: 88;
                    display: none;
                    width: 7.5rem;
                    height: 15rem;
                    position: relative;
                    left: -6rem;
                    top: -17rem;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                #ewimg3 {
                    z-index: 88;
                    display: none;
                    width: 7.5rem;
                    height: 15rem;
                    position: relative;
                    left: -5rem;
                    top: -17rem;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                #ewimg2 {
                    z-index: 88;
                    display: none;
                    width: 7.5rem;
                    height: 15rem;
                    position: relative;
                    left: -4rem;
                    top: -17rem;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                #ewimg1 {
                    z-index: 88;
                    display: none;
                    width: 7.5rem;
                    height: 15rem;
                    position: relative;
                    left: -3.5rem;
                    top: -17rem;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .tj {
        display: none;
        position: absolute;
        height: 230vh;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
        div {
            position: absolute;
            bottom: 0;
            left: 1.8rem;
            img {
                width: 4.03rem;
                height: 4.48rem;
            }
            div {
                width: 2.46rem;
                position: relative;
                top: -3rem;
                left: 0.8rem;
                p {
                    font-size: 0.10rem;
                    font-family: Source Han Sans CN;
                    font-weight: 400;
                    color: #FFFFFF;
                }
                input {
                    width: 2.46rem;
                    height: 0.39rem;
                    background-color: #56c1ff;
                    margin-top: 0.1rem;
                    margin-bottom: 0.24rem;
                    border: 0.02rem double #fff;
                    border-radius: 0.5rem;
                    color: #fff;
                    text-align: center;
                }
                img {
                    width: 1.72rem;
                    height: 0.48rem;
                }
            }
        }
    }
}

.tabbar {
    width: 7.5rem;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 99;
    div {
        padding-top: 0.22rem;
        padding-bottom: 0.16rem;
        img {
            width: 0.78rem;
            height: 0.68rem;
        }
    }
    div:nth-of-type(2) {
        img {
            width: 0.40rem;
            height: 0.66rem;
        }
    }
    div:nth-of-type(3) {
        img {
            width: 0.49rem;
            height: 0.64rem;
        }
    }
    div:nth-of-type(4) {
        img {
            width: 0.42rem;
            height: 0.65rem;
        }
    }
    div:nth-of-type(5) {
        img {
            width: 0.40rem;
            height: 0.67rem;
        }
    }
    div:nth-of-type(6) {
        img {
            width: 0.43rem;
            height: 0.65rem;
        }
    }
}